/*BOOTSTRAP*/
@media (max-width: 1199px) {
}
@media (min-width: 992px){
	.main{
		width: 982px;
		margin-left: auto;
		margin-right: auto;
	}
	.nav__title {
	    font-size: 1.2vw;
	}
	.main__auth__title {
	    font-size: 1vw
	}
	.main__auth__error{
		font-size: 0.8vw;
	}
	.main__auth__input{
		font-size: 1.5vw;
	}
}
@media (max-width: 768px){
}
@media (max-width: 576px){
}
